# System files
Thumbs.db
desktop.ini
.DS_Store

# Temporary and backup files
~$*
*.tmp
*.temp
*.bak
*.old
*.csv

# Editor folders
.vscode/
.idea/

# Python cache if you add scripts later
__pycache__/
.ipynb_checkpoints/
